.download-page {
    text-align: center;
    padding: 20px;
    background-color: #4e1b1b;
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .button-container {
    margin-top: 20px;
  }