.buttonContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 100px;
  z-index: 100;

  button {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
    width: 250px;
    background-color: #AB95E0;
    color: #2d2241;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 30px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      inset: -2px;
      background: conic-gradient(from var(--angle), #efe5ed, #AB95E0, #AB95E0, #efe5ed);
      border-radius: 20px; 
      z-index: -1;
    }

    &::before {
      z-index: -2;
      filter: blur(10px);
      opacity: 0.6;
      animation: blurBorder 1s linear infinite, glowingBorder 10s linear infinite;
    }

    &::after {
      animation: glowingBorder 3s linear infinite;
    }

  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes glowingBorder {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg; 
  }
}

@keyframes blurBorder {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(9px); 
  }
}
