@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --percentage {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.buttonContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 100px;
  z-index: 100;

  button {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
    width: 250px;
    background-color: transparent;
    color: #1d1629;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 40px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      inset: -2px;
      background: conic-gradient(from var(--angle), azure var(--percentage), #AB95E0, #AB95E0, azure);
      border-radius: 20px; 
      z-index: -1;
    }

    &:hover {
      &::after,
      &::before {
        animation-play-state: paused;

      }

      &::after {
        --percentage: 100%;
        animation-play-state: paused;
      }
    }

    &::before {
      z-index: -2;
      filter: blur(10px);
      opacity: 0.8;
      animation: blurBorder 3s linear infinite;
    }

    &::after {
      transition: --percentage 0.5s ease;
      animation: glowingBorder 3s linear infinite;
    }

  }
}

@keyframes glowingBorder {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg; 
  }
}

@keyframes blurBorder {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(9px); 
  }
}
